<div class="estimate-page">
		<div class="cont1">
    <p class="enterInfo"> ENTER INFORMATION HERE </p>
		
		<form name="contactform" method="post" action="send_form_email.php">
 
<table class="formtable" width="450px">
 
<tr>
 
 <td valign="top">
 
  <label class="fn" for="first_name">First Name *</label>
 
 </td>
 
 <td valign="top">
 
  <input class="fn"  type="text" name="first_name" maxlength="50" size="30">
 
 </td>
 
</tr>
 
<tr>
 
 <td valign="top"">
 
  <label class="ln" for="last_name">Last Name *</label>
 
 </td>
 
 <td valign="top">
 
  <input class="ln" type="text" name="last_name" maxlength="50" size="30">
 
 </td>
 
</tr>
 
<tr>
 
 <td valign="top">
 
  <label class="ea" for="email">Email Address *</label>
 
 </td>
 
 <td valign="top">
 
  <input class="ea" type="text" name="email" maxlength="80" size="30">
 
 </td>
 
</tr>
 
<tr>
 
 <td valign="top">
 
  <label class="tn" for="telephone">Phone Number *</label>
 
 </td>
 
 <td valign="top">
 
  <input class="tn"  type="text" name="telephone" maxlength="30" size="30">
 
 </td>
 
</tr>
 
<tr>
 
 <td valign="top">
 
  <label class="cm" for="comments">Work needed *</label>
 
 </td>
 
 <td valign="top">
 
  <textarea class="cm" name="comments" maxlength="1000" cols="25" rows="6"></textarea>
 
 </td>
 
</tr>
 
<tr>
 
 <td colspan="2" style="text-align:center">
 
  <input class="submitbutton" type="submit" value="Submit">   <a href="http://www.freecontactform.com/email_form.php"></a>
 
 </td>
 
</tr>
 
</table>
 
</form>
</div>
		
</div>