<div class="faq-page">
		<p class="top-text-faq"><strong>Why get a new roof?</strong></p>
		
		<br>
		
		
		<p class="intro-text-faq">Whether you’re faced with an urgent need for a new roof or you have more time react to a roofing project, we want to help. Below, you’ll find the top reasons for needing a new roof and valuable information to assist you through the process.
<br>
<br>

Click on the categories below to learn more. </p>

<br>
<br>
<ul class="faq-list">
	<a href="#/faq/increase"><li>Increase Your Home’s Value</li></a>
	<a href="#/faq/building"><li>Building a new home</li></a>
	<a href="#/faq/leaks"><li>Leaks</li></a>
	<a href="#/faq/wind"><li>Wind damage</li></a>
	<a href="#/faq/hail"><li>Hail damage</li></a>
	<a href="#/faq/falling"><li>Falling debris</li></a>
 	<a href="#/faq/general"><li>General Warning Signs That a Roof Might Be Past Its Useful Life</li></a>
</ul>
</div>