<div class="building">
<br>

<p class="building-top-text"><a href="#/faq"><button class="back-button">Back</button></a><strong> Building a new home</p></strong>
<br>
<br>
<div class="increase-container">
<p class="building-body-text">If you’re building a new home, you have the unique opportunity to design the entire exterior
	 of your home to suit your style. This means the sky’s the limit on the style and color of your roof. To see all of our 
	 shingles in your area go to Browse Shingles</p>
	 
	 <img class="bluePrint" src="/pics/blueprint.jpg"/>

</div>
</div>
