<div class="falling">
<br>

<p class="falling-top-text"><a href="#/faq"><button class="back-button">Back</button></a><strong> Falling debris</p></strong>
<br>
<br>
<div class="increase-container">
<p class="falling-body-text">During some storms tree branches or other failing debris can land on your roof. Some items are small and won’t cause an issue—other items are so large that you will naturally be concerned about damage. Use your best judgment. You may need to have a professional roofing contractor inspect your roof for damage. Click here to find an Owens Corning™ Roofing Preferred Contractor in your area. If you have damage from debris on your roof, you will need to file an insurance claim.</p>


<div class="leak-signs">
<strong><font size="5">Potential signs of falling debris:</font></strong>
<br>
<br>
<li>Visual identification of debris on the roof deck</li>
<li>Missing shingles</li>
<li>Cracked shingles</li>
<li>A large pile of granules at the end of your downspout; a small amount is normal, especially for new shingles</li>

<img class="leak-pics" src="/pics/missingshingles.jpg"/>
<img class="leak-pics" src="/pics/cracked.jpg"/>


</div>
</div>

</div