<div class="general">
<br>

<p class="general-top-text"><a href="#/faq"><button class="back-button-general">Back</button></a><strong> Potential signs that your roof may need to be replaced</p></strong>
<br>
<div class="increase-container">
	<div class="general-pics-container">
<p class="general-body-text">Sometimes a roof can naturally reach the end of its useful life without experiencing a roof failure. It just looks old and worn, and you are doing preventive maintenance on your home. If replacing an old roof is delayed, however, it could result in bigger problems down the road. So watch for the warning signs to be sure to give yourself plenty of time to add the project to your TO DO list.</p>

<img class="general-pics" src="/pics/curled.jpg"/>
<img class="general-pics" src="/pics/granules.png"/>
<img class="general-pics" src="/pics/cracked.jpg"/>
<img class="general-pics" src="/pics/agingroof.png"/>
<img class="general-pics" src="/pics/darkstains.jpg"/>
<img class="general-pics" src="/pics/moss.jpg"/>
</div>


<div class="general-signs">
<strong><font size="5">Potential signs of falling debris:</font></strong>
<br>
<br>
<li>Shingle edges are <strong>curled</strong> or shingle tabs are <strong>cupped</strong></li>
<li><strong>Bald spots</strong> where granules are missing</li>
<li><strong>Cracked</strong> shingles</li>
<li><strong>Your roof is at least 20 years old</strong>; while many shingles today are produced for durability, 
many factors can accelerate the aging of shingles. For example, if your roof is not properly ventilated, it can negatively impact your shingles</li>
<li><strong>Neighbors are getting new roofs</strong>. Homes built around
the same time period can experiencing the same types of weather conditions can mean that your roof is nearing its useful life</li>
<li>The roof just looks <strong>old and worn</strong></li>
<li><strong>Dark streaks</strong>. Airborne algae cause dark streaks on roof decks. While this may not necessarily harm the roof shingles, it may not look good. Algae streaks can be removed using a 50:50 blend of water and bleach sprayed on your roof. It is important to use a low volume garden hose so you do not knock the protective granules off your shingles. It is also important that you protect your landscaping from the bleach run-off.</li>
<li><strong>Moss</strong>. Moss can grow on roof surfaces that don’t get much sunlight especially in cool, moist climates. Moss growth can be more than a cosmetic issue. Moss holds moisture against the roof surface and overtime in freezing climates can cause damage to the granules on the top of the shingles. Moss can be brushed off but it won’t prevent it from growing again; take care not to damage the shingle surface. You may need to contact a professional roofing contractor.</li>

<!--<img class="leak-pics" src="/pics/missingshingles.jpg"/>
<img class="leak-pics" src="/pics/cracked.jpg"/>-->


</div>
</div>

</div