<div class="hail">
<br>

<p class="hail-top-text"><a href="#/faq"><button class="back-button">Back</button></a><strong> Hail damage</p></strong>
<br>
<br>
<div class="increase-container">
<p class="hail-body-text">Usually hail is not something that you can miss—it is typically a widespread weather event in a neighborhood and not isolated to just one house on the block. Hail can bruise a shingle causing an indentation that may be hard to see but that can crack the shingle allowing water to infiltrate over time. You may need the assistance of a professional roofing contractor to determine the scope of the damage. If you have hail damage, you will need to file an insurance claim.
<br>
<br>
If your hail event was significant in terms of widespread damage, you will have roofing contractors who specialize in “storms” knocking on your door within days of the event. As always, you should use your best judgment when selecting a contractor. Owens Corning™ Roofing has a network of Preferred Contractors. </p>



<div class="leak-signs">
<strong><font size="5">Potential signs of hail damage:</font></strong>
<br>
<br>
<li>Other collateral hail damage around the house; dents on cars or other items on your house or in your yard</li>
<li>A distinct pattern of small round-shaped divots on the edges of the shingles</li>
<li>Indentations in the shingle where granules are missing</li>
<li>A large pile of granules at the end of your downspout; a small amount is normal, especially on new shingles</li>

<img class="leak-pics" src="/pics/hailroof1.png"/>
<img class="leak-pics" src="/pics/hailroof.jpg"/>
<img class="leak-pics" src="/pics/hailroof2.jpg"/>

</div>
</div>
</div>