<div class="increase">
<br>

<p class="increase-top-text"><a href="#/faq"><button class="back-button">Back</button></a><strong>Increase Your Home’s Value</p></strong>
<br>
<br>
<div class="increase-container">
<p class="increase-body-text">Replacing an old roof can help add curb appeal and will increase the perceived value of your home. This may be especially helpful if you intend to sell your house. Remember, when selling a house, the first impression is important. Not only does a new roof play a critical part in protecting the investment, it can really transform the look helping give you an edge over the other properties for sale in your neighborhood.  Return on your investment of a new roof ranks right up there with remodeling a kitchen or bathroom both projects which are well known to be desirable in a home resale.</p>
<br>
<br>
 <img class="comparision" src="/pics/comparision.jpg"/>
 </div>
</div>